<div style="padding: 20px; max-width: 500px; margin: auto;">
  <h2>Vibetrack</h2>

  <!-- FORM -->
  <div style="margin-bottom: 20px;">
    <input [(ngModel)]="newMusica" placeholder="Música" />
    <input [(ngModel)]="newArtista" placeholder="Artista" />
    <input [(ngModel)]="newGenero" placeholder="Gênero" />
    <input [(ngModel)]="newEmocao" placeholder="Emoção" />
    <button (click)="createVibe()">Salvar vibe</button>
  </div>

  <!-- LISTA -->
  <div *ngFor="let vibe of vibes"
       style="background:#e0e0e0; padding:10px; margin-bottom:10px; border-radius:6px;">
    <b>{{vibe.musica}}</b> – {{vibe.artista}}
    <br>
    Gênero: {{vibe.genero}}
    <br>
    Emoção: {{vibe.emocao}}
    <br>
    <small>{{vibe.timestamp}}</small>
  </div>
</div>
